<main class="w-full h-screen bg-gradient-to-r from-gray-900 via-gray-800 via-gray-800 to-gray-900 flex justify-center items-center">

  <div class="rounded-xl bg-gray-900 p-4">

    <header class="flex justify-between items-center w-[50rem] p-5">
      <nav class="flex justify-center gap-20 items-center">
        <button routerLink="/authentication/register" class="text-white transition-all ease-in duration-300 cursor-pointer hover:text-neutral-500">Register</button>
        <button routerLink="/authentication/login" class="text-white transition-all ease-in duration-300 cursor-pointer hover:text-neutral-500">Login</button>
      </nav>

      <div class="text-white">
        <mat-icon>menu</mat-icon>
      </div>
    </header>

    <div class="w-full h-auto flex flex-col justify-center items-center gap-8">
      <div class="text-center text-white font-black text-[1.6rem]">
        Register To WebSite
      </div>

      <section [formGroup]="registerForm" class="flex flex-col justify-center items-center gap-5">

        <input formControlName="username" type="text" placeholder="Username ..." class="w-[25rem] p-5 border-[1px] border-blue-600 outline-none text-white placeholder:text-white bg-gray-800 rounded-xl ring-0
        transition-all ease-in focus:bg-gray-900 focus:border-[1px] focus:border-blue-800">

        <input formControlName="password" type="password" placeholder="Password ..." class="w-[25rem] p-5 border-[1px] border-blue-600 outline-none text-white placeholder:text-white bg-gray-800 rounded-xl ring-0
        transition-all ease-in focus:bg-gray-900 focus:border-[1px] focus:border-blue-800">

        <input formControlName="passwordConfirm" type="password" placeholder="Password Confirm ..." class="w-[25rem] p-5 border-[1px] border-blue-600 outline-none text-white placeholder:text-white bg-gray-800 rounded-xl ring-0
        transition-all ease-in focus:bg-gray-900 focus:border-[1px] focus:border-blue-800">

        <button [disabled]="!registerForm.valid"  (click)="submit()" class="p-3 bg-blue-600 rounded-xl text-white w-auto px-[5rem] h-auto transition-all ease-in duration-300
        cursor-pointer hover:bg-blue-400 disabled:bg-gray-500 disabled:text-gray-700">Register</button>

        <span *ngIf="errorMessage" class="text-red-500 text-[0.8rem]">
          {{errorMessage}}
        </span>

      </section>

    </div>

  </div>

</main>
